.p1 {color:  rgb(255, 255, 255);;}
.p2 {color:  rgb(120, 130, 140);;}
.p3 { color: rgb(51, 87, 255); } 
.p4 { color: rgb(255, 51, 161); } 
.p5 { color: rgb(255, 195, 0); } 
.p6 { color: rgb(218, 247, 166); }
.p7 { color: rgb(88, 24, 69); } 
.p8 { color: rgb(144, 12, 63); } 
.p9 { color: rgb(199, 0, 57); } 
.p10 { color: rgb(255, 111, 97); } 

.p11 {color: #FF5733;}
.p12 {color: #33FF57;}
.p13 {color: #3357FF;}
.p14 {color: #FF33A1;}
.p15 {color: #FFC300;}
.p16 {color: #DAF7A6;}
.p17 {color: #581845;}
.p18 {color: #900C3F;}
.p19 {color: #C70039;}
.p20 {color: #FF6F61;}